[user]
	name = Aditya Misra
	# Override per-machine in ~/.config/git/config or hosts/<alias>/zshrc.local
	email = aditya.misra@users.noreply.github.com
	username = aditya.misra
[core]
	excludesfile = ~/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = cursor --wait
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
	default = current
[fetch]
	prune = true
[rerere]
	enabled = true
[merge]
	conflictStyle = zdiff3
[diff]
	algorithm = histogram
	colorMoved = default
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	last = log -1 HEAD
	unstage = reset HEAD --
	amend = commit --amend --no-edit
	wip = !git add -A && git commit -m 'wip'
	graph = log --graph --oneline --decorate --all
[include]
	# Per-machine overrides (e.g. work email). File is git-ignored.
	path = ~/.gitconfig.local
